@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Rockybilly Regular';
  src: url('/assets/fonts/Rockybilly-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
